<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ConnectionString" value="Server=localhost;Database=pedeai;User=root;Password=GH#@Mn47spW!HH$yvv76;Port=3306;CharSet=utf8mb4;SslMode=None;AllowPublicKeyRetrieval=true;" />
        <add key="ApiUrl" value="http://localhost:5050" />
        <add key="AdminEmail" value="admin@pedeai.com" />
        <add key="AdminSenha" value="admin123" />
    </appSettings>
</configuration>